    .wrap { max-width: 820px; padding: 32px 20px; margin: 0 auto; }
    .muted { color: #666; font-size: 1.4rem; margin-top: 0; }
    p { font-size: 1.6rem; font-weight: 330; line-height: 1.5; margin-bottom: 40px;}
    ul { padding-left: 1.25rem; }
    a { color: #0a58ca; text-decoration: none; }
    footer {font-style: italic; margin-top: 2rem; font-size: 1.3rem; color: #555; }
    li { font-size: 1.3rem}
    h1{font-size: clamp(36px, 6.5vw, 60px); font-weight: 400; margin-bottom: 0;}
    .return{max-width:880px;margin:18px auto}
    .btn:hover{color: white;background-color: black;}
    .btn{font-size: 20px;}
    .header-img{width: 100%; border-radius: 20px; border: 1px solid #083d33;}