<header class="nav">
    <a class="logo-head" href="/" aria-label="Go to PriceCheck home">
      <img src="/logo/logo.png" alt="PriceCheck Logo" class="logo">
      <div class="brand">
        <span class="wordmark">PriceCheck</span>
        <span class="edition">0.9.0 Beta</span>
      </div>
    </a>

    <form class="nav-search" action="#" method="GET" role="search" aria-label="Search PriceCheck">
      <input
        class="nav-search__input"
        type="search"
        name="q"
        placeholder="Search or paste URL, UPC, PCI, ASIN, SKU"
        autocomplete="off"
        spellcheck="false"
      />
    </form>

    <a class="btn btn--outline"
       href="https://chromewebstore.google.com/detail/pricecheck-your-all-in-on/ikpdkmnglgckdhlkcboeccifjpikcfcf?authuser=0&hl=en">
      Add to Chrome
    </a>

    <a href="/" class="nav__burger" aria-label="Go home">
        <svg
          class="icon icon-home"
          viewBox="0 -960 960 960"
          width="22"
          height="22"
          aria-hidden="true"
        >
        <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
        </svg>
    </a>
</header>